// Colors

$danger100: #fff2f2;
$danger200: #ffd6d9;
$danger300: #ffa8b4;
$danger400: #ff708d;
$danger500: #ff3d71;
$danger600: #db2c66;
$danger700: #b81d5b;
$danger800: #94124e;
$danger900: #700940;

$violet100: #e4dffe;
$violet200: #c9bffd;
$violet400: #9585f7;
$violet500: #705df2;
$violet600: #5343d0;
$violet900: #191174;

$basic100: #ffffff;
$basic200: #f7f9fc;
$basic300: #edf1f7;
$basic400: #e4e9f2;
$basic500: #c5cee0;
$basic600: #8f9bb3;
$basic700: #2e3a59;
$basic800: #222b45;
$basic900: #192038;
$basic1000: #151a30;
$basic1100: #101426;

$footer-bg-color: #0d0659;
